openapi: 3.1.0
info:
  title: OpenF1 Drivers API
  description: OpenF1 is a free and open-source API providing real-time and historical Formula 1 data including car telemetry, lap timing, race control, weather, pit stops, team radio, and championship standings.
  version: '1.0'
  contact:
    name: OpenF1
    url: https://openf1.org/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.openf1.org/v1
  description: OpenF1 Production API
tags:
- name: Drivers
paths:
  /drivers:
    get:
      operationId: listDrivers
      summary: List drivers for a session
      tags:
      - Drivers
      parameters:
      - name: session_key
        in: query
        schema:
          type: integer
      - name: meeting_key
        in: query
        schema:
          type: integer
      - name: driver_number
        in: query
        schema:
          type: integer
      - name: team_name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Driver'
components:
  schemas:
    Driver:
      type: object
      properties:
        meeting_key:
          type: integer
        session_key:
          type: integer
        driver_number:
          type: integer
        broadcast_name:
          type: string
        full_name:
          type: string
        name_acronym:
          type: string
        team_name:
          type: string
        team_colour:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        headshot_url:
          type: string
          format: uri
        country_code:
          type: string
externalDocs:
  description: OpenF1 API Documentation
  url: https://openf1.org/
