openapi: 3.1.0
info:
  title: OpenF1 Drivers Laps API
  description: OpenF1 is a free and open-source API providing real-time and historical Formula 1 data including car telemetry, lap timing, race control, weather, pit stops, team radio, and championship standings.
  version: '1.0'
  contact:
    name: OpenF1
    url: https://openf1.org/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.openf1.org/v1
  description: OpenF1 Production API
tags:
- name: Laps
paths:
  /laps:
    get:
      operationId: listLaps
      summary: List laps with sector and speed-trap times
      tags:
      - Laps
      parameters:
      - name: session_key
        in: query
        schema:
          type: integer
      - name: driver_number
        in: query
        schema:
          type: integer
      - name: lap_number
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lap'
components:
  schemas:
    Lap:
      type: object
      properties:
        meeting_key:
          type: integer
        session_key:
          type: integer
        driver_number:
          type: integer
        lap_number:
          type: integer
        date_start:
          type: string
          format: date-time
        duration_sector_1:
          type: number
        duration_sector_2:
          type: number
        duration_sector_3:
          type: number
        i1_speed:
          type: integer
        i2_speed:
          type: integer
        st_speed:
          type: integer
        is_pit_out_lap:
          type: boolean
        lap_duration:
          type: number
        segments_sector_1:
          type: array
          items:
            type: integer
        segments_sector_2:
          type: array
          items:
            type: integer
        segments_sector_3:
          type: array
          items:
            type: integer
externalDocs:
  description: OpenF1 API Documentation
  url: https://openf1.org/
