openapi: 3.1.0
info:
  title: OpenF1 Drivers Telemetry API
  description: OpenF1 is a free and open-source API providing real-time and historical Formula 1 data including car telemetry, lap timing, race control, weather, pit stops, team radio, and championship standings.
  version: '1.0'
  contact:
    name: OpenF1
    url: https://openf1.org/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.openf1.org/v1
  description: OpenF1 Production API
tags:
- name: Telemetry
paths:
  /car_data:
    get:
      operationId: getCarData
      summary: High-frequency car telemetry (RPM, throttle, brake, gear, speed, DRS)
      tags:
      - Telemetry
      parameters:
      - name: session_key
        in: query
        schema:
          type: integer
      - name: driver_number
        in: query
        schema:
          type: integer
      - name: speed
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CarData'
  /location:
    get:
      operationId: getLocation
      summary: Three-dimensional car location on track
      tags:
      - Telemetry
      parameters:
      - name: session_key
        in: query
        schema:
          type: integer
      - name: driver_number
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
components:
  schemas:
    CarData:
      type: object
      properties:
        meeting_key:
          type: integer
        session_key:
          type: integer
        driver_number:
          type: integer
        date:
          type: string
          format: date-time
        rpm:
          type: integer
        speed:
          type: integer
        n_gear:
          type: integer
        throttle:
          type: integer
        brake:
          type: integer
        drs:
          type: integer
    Location:
      type: object
      properties:
        meeting_key:
          type: integer
        session_key:
          type: integer
        driver_number:
          type: integer
        date:
          type: string
          format: date-time
        x:
          type: number
        y:
          type: number
        z:
          type: number
externalDocs:
  description: OpenF1 API Documentation
  url: https://openf1.org/
