openapi: 3.1.0
info:
  title: OpenF1 Drivers Sessions API
  description: OpenF1 is a free and open-source API providing real-time and historical Formula 1 data including car telemetry, lap timing, race control, weather, pit stops, team radio, and championship standings.
  version: '1.0'
  contact:
    name: OpenF1
    url: https://openf1.org/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.openf1.org/v1
  description: OpenF1 Production API
tags:
- name: Sessions
paths:
  /sessions:
    get:
      operationId: listSessions
      summary: List F1 sessions
      description: Provides information about sessions (practice, qualifying, sprint, race).
      tags:
      - Sessions
      parameters:
      - name: session_key
        in: query
        schema:
          type: integer
      - name: meeting_key
        in: query
        schema:
          type: integer
      - name: year
        in: query
        schema:
          type: integer
      - name: country_name
        in: query
        schema:
          type: string
      - name: session_type
        in: query
        schema:
          type: string
      - name: session_name
        in: query
        schema:
          type: string
      - name: circuit_short_name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
components:
  schemas:
    Session:
      type: object
      properties:
        session_key:
          type: integer
        session_name:
          type: string
        session_type:
          type: string
        date_start:
          type: string
          format: date-time
        date_end:
          type: string
          format: date-time
        meeting_key:
          type: integer
        circuit_key:
          type: integer
        circuit_short_name:
          type: string
        country_key:
          type: integer
        country_code:
          type: string
        country_name:
          type: string
        location:
          type: string
        gmt_offset:
          type: string
        year:
          type: integer
        is_cancelled:
          type: boolean
externalDocs:
  description: OpenF1 API Documentation
  url: https://openf1.org/
