openapi: 3.1.0
info:
  title: OpenF1 Drivers RaceControl API
  description: OpenF1 is a free and open-source API providing real-time and historical Formula 1 data including car telemetry, lap timing, race control, weather, pit stops, team radio, and championship standings.
  version: '1.0'
  contact:
    name: OpenF1
    url: https://openf1.org/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.openf1.org/v1
  description: OpenF1 Production API
tags:
- name: RaceControl
paths:
  /race_control:
    get:
      operationId: listRaceControl
      summary: Race control messages, flags, and incidents
      tags:
      - RaceControl
      parameters:
      - name: session_key
        in: query
        schema:
          type: integer
      - name: driver_number
        in: query
        schema:
          type: integer
      - name: category
        in: query
        schema:
          type: string
      - name: flag
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RaceControlMessage'
components:
  schemas:
    RaceControlMessage:
      type: object
      properties:
        meeting_key:
          type: integer
        session_key:
          type: integer
        driver_number:
          type: integer
          nullable: true
        date:
          type: string
          format: date-time
        category:
          type: string
        flag:
          type: string
          nullable: true
        lap_number:
          type: integer
          nullable: true
        message:
          type: string
        scope:
          type: string
          nullable: true
        sector:
          type: integer
          nullable: true
externalDocs:
  description: OpenF1 API Documentation
  url: https://openf1.org/
